*{
    box-sizing: border-box;
}

body {
    background: url('/Users/macuser/sei/deliverables/project-zero/pictures/backgrounds/daytime-field-golf-course-914682.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    min-height:100vh;
    margin: 0
}

.page-title {
    font-family: 'Slabo 27px', serif;
    font-size: 60px;
    text-align: center;
    letter-spacing: 10px;
    
}

/* =============GAME BOARDS=========== */
.game-container {
    position: relative;
    top: -100px;
    padding: 50px 30px;
    display: grid;
    grid-template-columns: repeat(3, auto); 
    grid-gap: 10px;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    color: black;
    padding: 0 10px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    text-shadow: 10px 10px 50px white, -10px -10px 50px white;
}

#score {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.card {
    content: url("/Users/macuser/sei/deliverables/project-zero/pictures/card-pictures/blue_back.png");
    height: 165px;
    width: 115px;
    box-shadow: 10px 10px 50px;
}

#player1 {
    float: left;
}

#player2 {
    float: right;
}