body {
    background: url('/Users/macuser/sei/deliverables/project-zero/pictures/backgrounds/daytime-field-golf-course-914682.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    min-height:500px;
}