@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    box-sizing: border-box;
}

body {
    background: url('/Users/macuser/sei/deliverables/project-zero/pictures/backgrounds/daytime-field-golf-course-914682.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    min-height:100vh;
    margin: 0
}

